*{
    box-sizing: border-box;
    padding: 0;
}

:root{

    --primary-color:rgb(6, 187, 6);
}


#home{
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.nav{

    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    left: 7%; 
    z-index: 100;   
}

.nav .header{
    color:white;
}

.nav .links a {
    text-decoration: none;
    color: gray;
    transition: all 1s;
}


.nav .links .active a{
    color:white
}

.nav .links a:hover{
    color:var(--primary-color);
}




.layer{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}




.image{
    position: relative;
    top: 130px;
    right: 3%;
}

.sidebar{
    background-color: transparent;
    position: absolute;
    right:0;
    top: 30%;
    bottom: 0;
    

}

.sidebar .icons i{
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}


.sidebar .icons i:hover{

    color:var(--primary-color);
}

.sidebar::before{

    content: "";
    width: 3px;
    height:50px;
    background-color: gray;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
   
}
 
.sidebar p{
    
    transform:rotate(90deg)
 }

 .sidebar .scroll{

    color: white;
    transition: all 0.5s;
    cursor: pointer;
 }


 .sidebar .scroll:hover{
    color: var(--primary-color);
 }




